* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 3rem 0;
}

h1 {
    font-size: 3rem;
    text-transform: capitalize;
    line-height: 3.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 2rem;
}

h1 span {
    font-weight: 700;
}

.formSec form h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

form .row {
    gap: 1rem 0;
}

.formSec form {
    background: #fff;
    box-shadow: 0 0 15px #0005;
    border-radius: 20px;
    padding: 2rem;
}

.inputCont {
    display: flex;
    flex-direction: column;
}

.inputCont label {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 0.25rem;
}

.inputCont input:not([type="file"]),
.inputCont textarea {
    min-height: 30px;
    border-radius: 10px;
    border: 1px solid #0005;
    padding: 0 1rem;
}

#resumeOutput {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(209, 71, 17);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

#resumeOutput h2 {
    color: #502c34;


}

.profilePicture {
    display: hsl(96, 89%, 41%);
    margin: 0 auto;
    border: 2px solid #baec5c;
    box-shadow: 0 4px 8px rgba(rgb(39, 2, 2), rgb(3, 36, 3), rgb(81, 81, 116));
    border-radius: 500;
    width: 160px;
    height: 160px;
    object-fit: cover;
}

header .navbar-brand {
    margin: 0;
    padding: 0;
    height: 100px;
    overflow: hidden;
}

header .navbar-brand img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header {
    border-bottom: 1px solid #0005;
    box-shadow: 0 2px 15px #0005;
}

header nav.navbar {
    padding: 10px 0;
}

header nav.navbar .nav-link {
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    padding: 5px 0 !important;
}

header nav.navbar .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f47320;
    transition: all 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
}

header nav.navbar .nav-item {
    padding: 0;
}

header nav.navbar .nav-link:hover::before {
    transform: scaleX(1);
}

.themeBtn {
    background: #f47320;
    width: fit-content;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    display: block;
    text-decoration: none;
}

div#resumeoutput .user {
    display: flex;
    align-items: self-start;
    justify-content: start;
    gap: 1rem;
}

div#resumeoutput .user .userImg {
    height: 150px;
    width: 150px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 5px #0005;
    border-radius: 10px;
    margin: 0;
}

div#resumeoutput .user .userImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div#resumeoutput .user .userDetails h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 0.5rem;
}

div#resumeoutput .user .userDetails h4 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}


div#resumeoutput .personalInfo h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

div#resumeoutput .personalInfo {
    margin: 1rem 0 0;
}

div#resumeoutput .personalInfo p {
    font-size: 1rem;
    margin: 0;
}

div#resumeoutput {
    max-width: 768px;
    background: #fff;
    box-shadow: 0 0 15px #0005;
    padding: 2rem;
    border-radius: 20px;
}

div#resumeoutput .themeBtn {
    margin: 2rem 0 0;
}